.mb-normal {
	margin-bottom: 30px;
}

.mb-big {
	margin-bottom: 60px;
}

.mb-extra {
	margin-bottom: 90px;
}

.mb-extra-1 {
	margin-bottom: 60px;
	@include media-breakpoint-up(lg) {
		margin-bottom: 120px;
	}
}

.mb-extra-2 {
	margin-bottom: 60px;
	@include media-breakpoint-up(lg) {
		margin-bottom: 240px;
	}
}