html {
	font-size: 80%;

	@include media-breakpoint-up(sm) {
		font-size: 80%; 
	}

	@include media-breakpoint-up(md) {
		font-size: 80%; 
	}

	@include media-breakpoint-up(lg) {
		font-size: 90%; 
	}

	@include media-breakpoint-up(xl) {
		font-size: 100%; 
	}

}